.container /**/
{
    user-select: none;
    position: absolute;
    width: 900px;
    padding-bottom:  20px;
    padding-top:  20px;
    padding-left: 10px;
    padding-right: 10px;
    background: #e1e1e1;
    margin-top: 100px;
}
ul {
    margin: 0;
    padding: 0;
}
.cells
{
    box-sizing: border-box;
    /*display: flex;*/
}
.cells__elem /*ячейки*/
{   
    
    /*блок*/
    position: relative;
    display: inline-block; 
    width: 200px;
    height: 200px;
    margin: 10px;
    background: #633500;
    
    

    /*текст*/
    overflow: hidden; /* всё, что выходит за рамки блока обрезается */
    white-space: nowrap; /* блок может содержать не более одной строки */
    text-align: center;
    
    line-height: 200px;
    color: #e1e1e1;
    font-size: 100px;
    
}
.sort
{
    margin: 10px;
    text-align: right;
}
.sort .name
{
    color: blue;
}
.buttons
{
    position: relative;
}
.buttons .edit
{
    display: inline;
    margin: 10px;
}
.buttons .size-management
{
    display: inline;
    position: absolute;
    margin: 10px;
    right: 10px;
    
}
.size-management #b1
{
    width: 20px;
    height: 20px;
    background: url(https://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png) no-repeat;
    background-position: 47.5% 0;
}
.size-management #b2
{
    width: 20px;
    height: 20px;
    background: url(https://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png) no-repeat;
    background-position: 52.7% 0;
}
.selected
{
    display: inline-block; 
    background: #ff0000;
}
.deleted
{
    display: none;
}
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }

