.container /**/
{
    user-select: none;
    position: absolute;
    width: 900px;
    padding-bottom: 10px;
    padding-top:  10px;
    background: #e1e1e1;
    margin-top: 100px;
}

ul {
    font-size: 0;
    margin: 0;
    
    padding-left: 10px;
    padding-right: 10px;
}

.cells__elem /*ячейки*/
{   
    box-sizing: border-box;
    /*блок*/
    position: relative;
    display: inline-block; 
    width: 200px;
    height: 200px;
    margin: 10px;
    background: #724734;
    
    /*текст*/
    overflow: hidden; /* всё, что выходит за рамки блока обрезается */
    white-space: nowrap; /* блок может содержать не более одной строки */
    text-align: center;
    
    line-height: 200px;
    color: #e1e1e1;
    font-size: 100px;
    
}
.sort
{
    margin: 10px;
    text-align: right;
}
.sort__name
{
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed blue; /* Добавляем свою линию */
    color: blue;
}
.sort__name:hover
{  
    border-bottom: none;
    text-decoration: underline;
}
.buttons
{
    position: relative;
    padding: 10px 15px; 
}
.buttons .edit
{
    display: inline;
    margin: 0px 5px;
}
.buttons .size-management
{
    display: inline;
    position: absolute;
    right: 18px;
    
}
.sm-style #b1,
.sm-style #b2
{
    margin: 0px 2px;
    width: 20px;
    height: 20px;
}
.size-management #b1
{
    background: url(https://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png) no-repeat;
    background-position: 47.5% 0;
}
.size-management #b2
{
    background: url(https://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png) no-repeat;
    background-position: 52.7% 0;
}
.selected
{
    display: inline-block; 
    background: brown;
}
.deleted
{
    display: none;
}

.placeforcell 
{ /*Подложка*/
    box-sizing: border-box;
    display: inline-block; 
    width: 200px;
    height: 200px;
    margin: 10px;
    background: #937a66;
    border: 3px dashed black;
    

    /*текст*/
    line-height: 200px;
 }

 .bigcells .cells__elem, /*Для .cells__elem и .placeforcell которые вложены в .bigcells*/
 .bigcells .placeforcell 
 {
     width: 420px;
     height: 420px;
     font-size: 200px;
     line-height: 420px;
 }
